<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sfa.Das.EAS.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>  
<specFlow>    
    <stepAssemblies>
    </stepAssemblies>
    
    
</specFlow>
  <appSettings>
    <add key="baseUrl" value="https://test-eas.apprenticeships.sfa.bis.gov.uk" />
    <add key="tempUrl" value="https://test-eas.apprenticeships.sfa.bis.gov.uk/EmployerAccountPaye/ConfirmPayeScheme?accountId=18&amp;code=aeb7e1ee788f9f2322e040b6" />
    <add key="browserType" value="chrome" />
    <add key="PireanUsername" value="jsinclair.pride+1@gmail.com" />
    <add key="PireanPassword" value="Password01" />
    <add key="InvitedUserName" value="sfa.aml.test+johndoe@gmail.com" />
    <add key="InvitedUserPW" value="Password1" />
    <add key="CompanyNumber" value="06672545" />
    <add key="CompanyName" value="NEW BROADWAY PROPERTIES LIMITED" />
    <add key="CompanyNameExpected" value="Name: NEW BROADWAY PROPERTIES LIMITEDD Companies House number: 06672545" />
    <add key="HMRCUN" value="user2" />
    <add key="HMRCPW" value="password" />
    <add key="WaitinSeconds" value="3" />
    <add key="IEDriverPath" value="C:\code\AML_TestAutomation_Fram ework\src\packages\Selenium.WebDriver.IEDriver.2.53.1.1\driver" />
    <add key="ChromeDriver" value="C:\code\AML_TestAutomation_Framework\src\packages\Selenium.WebDriver.ChromeDriver.2.23.0.1\driver" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sfa.Das.EAS.Tests.Properties.Settings>
      <setting name="GettingStarted" serializeAs="String">
        <value>https://test-eas.apprenticeships.sfa.bis.gov.uk/</value>
      </setting>
      <setting name="CreateAccount" serializeAs="String">
        <value>https://ppidentity.apprenticeships.sfa.bis.gov.uk/SignIn/dialog/appl/selfcare/wflow/register?sfaredirecturl=https%3A%2F%2Ftest-eas.apprenticeships.sfa.bis.gov.uk%2FHome%2FSignIn</value>
      </setting>
      <setting name="SignIn" serializeAs="String">
        <value>https://ppidentity.apprenticeships.sfa.bis.gov.uk/SignIn/dialog/appl/oidc/wflow/authorize?client_id=000123&amp;response_type=code&amp;scope=openid&amp;redirect_uri=https%3A%2F%2Ftest-eas.apprenticeships.sfa.bis.gov.uk%2FHome%2FSignIn&amp;state=b997e2a0a7a84b5d902bc949fa907ad4&amp;nonce=847204fef3574cd7af9be9c7ff7a3938</value>
      </setting>
    </Sfa.Das.EAS.Tests.Properties.Settings>
  </userSettings>
</configuration>